/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.sass-cache

/public/assets/css/app.min.css
/public/assets/js
/public/lib/
